
.home-body {
    background-image: linear-gradient(rgba(0, 0, 79, 0.668), rgba(49, 0, 31, 0.619)), url("https://tinder.com/static/build/5921afb1c3e6673d31a79697175df491.webp");
    background-size: cover;
    height: 100vh;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: -1;
}

header {
    height: 80px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.347);
    position: fixed;
    top: 0;
}

.banner {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes anim1 {
    50% {top: -30px;}
}

.banner h1 {
    position: relative;
    top: 0px;
    font-size: 100px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    text-shadow: 0 6px black;
    letter-spacing: 0px;
    text-align: center;
    /* animation: anim1;
    animation-duration: 3s;
    animation-iteration-count: infinite; */
}
.banner .button {
    padding: 5px;
    height: 50px;
    width: 250px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 40px;
    background-color: rgb(18, 0, 49);
    color: white;
    outline: 0;
    cursor: pointer;
    transition: 0.5s;
}

.banner .button:hover {
    background-color: black;
    transition: 1s;
}

.banner .button .part {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    left: 0;
    top: -35px;
    position: relative;
    width: 50px;
    height: 100%;
    background-color: rgb(38, 41, 41);
    color: black;
    border-radius: 50%;
    transition: 0.5s;
}

.banner .button:hover .part {
    left: 200px;
    transition: 0.5s;
}

.banner .button .text {
    font-size: 20px;
    visibility: hidden;
    margin-top: 10px;
    margin-left: 20px;
    letter-spacing: 2px;
}

.banner .button:hover .text {
    visibility: visible;
    transition: 0.1;
    transition-delay: 0.5s;
}

.banner .button .part p {
    margin-bottom:7px;
}


.home-section1 {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home-section2 {
    height: 100vh;
    background: linear-gradient(rgb(23, 22, 22) 90%, rgba(49, 0, 31));
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.home2 {
    height: 70%;
    margin: 0 auto;
    
}
.home2 img{
    height: 100%;
    border: 1px solid rgb(81, 68, 68);
    border-radius: 20px;
}
.home-section2 .text {
    margin: 0 auto;
    max-width: 600px;
    font-size: larger;
    text-align: justify;
}