.login-body {
  height: 100vh;
  background-color: #463e3e;
}

.login-nav {
  background: linear-gradient(rgb(205, 69, 15), 60%, rgba(36, 30, 43, 0.373));
}

.login-form {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}